<!DOCTYPE html>
<html>
<head>
    <title>Add Doctor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Hospital Information System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if 'user' in session and session['user'] == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/add_doctor">Add Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/change_doctor_password">Change Doctor Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/delete_doctor">Delete Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/delete_patient">Delete Patient</a>
          </li>
        {% endif %}
        {% if 'user' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

    <div class="container">
        <h1>Add Doctor</h1>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <form action="/admin/add_doctor" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" id="surname" name="surname" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
                <input type="hidden" id="available" name="available" class="form-control" required>

            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="speciality">Speciality:</label>
                <select id="speciality" name="speciality" class="form-control" required>
                    <option value="Ακτινολόγος">Ακτινολόγος</option>
                    <option value="Αιματολόγος">Αιματολόγος</option>
                    <option value="Αλλεργιολόγος">Αλλεργιολόγος</option>
                    <option value="Παθολόγος">Παθολόγος</option>
                    <option value="Καρδιολόγος">Καρδιολόγος</option>
                </select>
            </div>
            <div class="form-group">
                <label for="appointment_cost">Appointment Cost:</label>
                <input type="number" id="appointment_cost" name="appointment_cost" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Doctor</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
